{% extends "base.html"%}

{% block title %}
    <title>เกี่ยวกับ</title>
{% endblock %}

{% block About %}
    <a class="nav-link active"aria-current="page" href="/about">About</a>
{% endblock %}

{% block content %}
    <h1>เกี่ยวกับ</h1>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ระบบนี้เป็นส่วนหนึ่งของเว็บแอปพลิเคชันที่มีการใช้งานภาษา Python และโครงสร้าง HTML ของ Django ในการพัฒนา เว็บนี้มีวัตถุประสงค์เพื่อแสดงข้อมูลของบุคคลที่ใช้งานเว็บ ประกอบด้วยบุคคลผู้ปกครองและเด็ก และมีการใช้งาน Web Speech API เพื่อให้อ่านข้อความเสียงออกมา.</p>
    <h3>การทำงานของระบบ:</h3>
    <ol>
        <li>หน้าเว็บ "หน้าแรก" นี้เป็นส่วนย่อยของ template "base.html" ซึ่งมีโครงสร้างหน้าเว็บที่เหมือนกันในหลายหน้า เพื่อให้เว็บไซต์มีลักษณะเดียวกันทั้งหมด.</li>
        <li>เมื่อหน้าเว็บโหลดเสร็จสมบูรณ์ (load) ระบบจะเริ่มทำงานในฟังก์ชัน playSpeechAutomatically() ที่ถูกเรียกขึ้นอัตโนมัติ การทำงานของฟังก์ชันนี้คืออ่านข้อความเสียงโดยใช้ Web Speech API และส่งคำร้องขอ AJAX เพื่ออัปเดตสถานะ "Called" ของบุคคลที่เกี่ยวข้อง.</li>
        <li>ฟังก์ชัน speak(text, personId, repeatCount) ใช้สำหรับอ่านข้อความเสียงโดยกำหนดข้อความที่ต้องการอ่าน ไอดีของบุคคล และจำนวนครั้งในการอ่าน เมื่อเรียกใช้ฟังก์ชันนี้ Web Speech API จะทำการอ่านข้อความที่กำหนดด้วยเสียงในภาษาไทย (th-TH).</li>
        <li>หน้าเว็บจะแสดงข้อมูลของบุคคลที่เกี่ยวข้องโดยแสดงภาพและชื่อของผู้ปกครองและเด็ก ในส่วนของภาพและชื่อของผู้ปกครองและเด็ก มาจากข้อมูลที่ถูกส่งมาจากตัวแปร all_person ที่อยู่ในตัวแปร Datatext.</li>
        <li>หน้าเว็บยังมีฟอร์มสำหรับกรอกหมายเลขผู้ปกครองของท่าน ซึ่งหากกรอกหมายเลขและกด "Search" จะทำการส่งคำร้องขอ (POST request) ไปยัง server เพื่อค้นหาข้อมูลของผู้ปกครองที่เกี่ยวข้องและแสดงข้อมูลของผู้ปกครองนั้นในหน้าเว็บ.</li>
        <li>รวมถึงระบบนี้ยังมีการใช้งาน CSRF token เพื่อรักษาความปลอดภัยในการทำร้องขอ AJAX และมีการใช้งาน CSS เพื่อกำหนดความกว้างของส่วนของฟอร์มและการจัดวางเนื้อหาในหน้าเว็บให้เป็นระเบียบเรียบร้อย.</li>
    </ol>
    {% endblock %}